In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
insure=pd.read_csv("Boston.csv")
insure

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [24]:
X=pd.DataFrame(insure[['rm','lstat','crim','tax','age']])
y=pd.DataFrame(insure['medv'])

In [25]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)#target 80-20

In [26]:
dt_reg=RandomForestRegressor(n_estimators=1000,random_state=42)
model=dt_reg.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

In [27]:
y_predict=dt_reg.predict(x_test)

In [28]:
#Error estimation
#Error estimation
from sklearn import metrics
print("Mean Absolute Error:",metrics.mean_absolute_error(y_test,y_predict))
print("Mean Square Error:",metrics.mean_squared_error(y_test,y_predict))
print("Root Mean Square Error:",np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

Mean Absolute Error: 2.6736697368420965
Mean Square Error: 18.265190359999934
Root Mean Square Error: 4.2737794000158615

In [29]:
import pandas as pd
col_names=x_train.columns.tolist()
print(col_names)
feature_imp=pd.Series(dt_reg.feature_importances_,index=col_names).sort_values(ascending=False)
feature_imp

['rm', 'lstat', 'crim', 'tax', 'age']

rm       0.453199
lstat    0.414710
crim     0.068089
tax      0.035807
age      0.028195
dtype: float64